#inicio {
    margin: 0 auto;
}

#imagen_inicio {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

body {
    background-color: rgb(250, 219, 161);
}

#sala {
    background-color: rgb(220, 236, 246);
}

#tipoprenda {
    background-color: rgb(220, 236, 246);
}

#cantidad {
    background-color: rgb(220, 236, 246);
}

#cargarRopaSucia {
    /* display: none;*/
}

#tablaTotal {
    /*  background-color: teal;
    padding: 5px;
    margin: 5px;*/
}

#agregar {
    background-color: rgb(197, 196, 191);
    cursor: pointer;
}

#procesar {
    background-color: rgb(197, 196, 191);
    cursor: pointer;
}

#borrar {
    background-color: rgb(197, 196, 191);
}